.collorr{
    background-color: rgb(247, 247, 247);
}
.wow{
    color: rgb(100, 100, 100);
}
.banner-image{
    
    background-image: url('../img/11.jpg');
    background-size: cover  ;}
    .navbar{
        transition: all 0.5s;
    }